body {
  margin: 0;
  background-color: darkslategray;
}


/*--------HEADER--------------*/
.header {
  background-color: black;
}

#logo-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.logo-img {
  margin-top: 15px;
}

#logo {
  color: red;
  font-family: "Special Elite", cursive;
  font-size: 6rem;
}

span {
  color: aliceblue;
  font-size: 1.8rem;
  float: right;
  margin-right: 25%;
}

#nav-container {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  background-color: red;
}

.nav {
  font-size: 2rem;
  margin: 10px, 15px, 10x, 15px;
}

.nav a {
  color: aliceblue;
  text-decoration: none;
  padding: 15px;
}

/*-------HIDEOUT MAIN---------*/

main{
  text-align: center;
}

h1{
  font-family: 'Quantico', sans-serif;
  color: aqua;
}

.bench{
  height: 600px;
  width: 100%;
}

.main-content{
  margin: 15px;
}

/*--------HIDEOUT MENU----------------*/
.menu{
  height: 500px;
  width: 100%;
  background-image: url(../imgs/bench.jpg);
  background-size:500px 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.menu a{
  font-size: 2rem;
  margin: 10px, 15px, 10x, 15px;
  color: red;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: wheat;
  
}

p{
  font-family: 'Quantico', sans-serif;
  font-size: 1.8rem;
}

#pizza {
  margin: auto;
  background-color:burlywood;
  width: 45%;
  height: 75%;
}
#snacks {
  margin: auto;
  background-color:burlywood;
  width: 45%;
  height: 75%;
}
#hot {
  margin: auto;
  background-color:burlywood;
  width: 45%;
  height: 75%;
}
#cold {
    margin: auto;
    background-color:burlywood;
    width: 45%;
    height: 75%;
  }

/*-----------HACKATHON--------------*/

/*-----------CONTACTS--------------*/

.contact a{
  color: aliceblue;
  text-decoration: none;
}




/*----------FOOTER-----------------------*/
  .footer{
    background-color: black;
    font-size: 1.5rem;
    text-align: center;
    color: red;
  }
  footer a{
    color: aliceblue;
    text-decoration: none;
  }