* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;

  min-height: 100vh;
  width: 100%;
 /* background-image: url(../images/dark.jpg); make full size no repeat*/
  background-color: rgb(30, 34, 34);
}

#logo-img {
  width: 200px;
  height: 200px;
}

/*--------ANIMATIONS--------------*/



/*--------HEADER--------------*/

.header {
  display: grid;
  grid-template-rows: 1fr;

  background-color: black;
  background-image: url(../images/nightSky.jpg);
  background-size: 100%;
  background-size: cover;

  width: 100%;
  min-height: 300px;
}

#logo-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  align-items: center;
  text-align: center;
  row-gap: 15px;

  width: 100%;
}

#logo-img {
  padding: 25px 25px 0 25px;
}

#logo {
  color: #820000;
  font-family: "Special Elite", cursive;
  font-size: 3rem;

  padding: 0 10px 10px;
}
/*----and Pizzeria----*/
span {
  color: #e4aa4d;
  font-size: 1.8rem;
  float: right;
  margin-right: 25%;
}

/*---------NAV in header-----------------*/
#nav-container {
  background-color: #820000;
  align-self: end;

  min-height: 50px;
}

.main-nav {
  display: grid;
  grid-template-columns: repeat(autofit, minmax(200px, 1fr));
  justify-items: center;

  font-size: 2rem;
  margin: 10px, 15px, 10x, 15px;
}

.main-nav > a {
  color: #e4aa4d;
  text-decoration: none;
  padding: 5px;
}

.main-nav > a:link {
  color: antiquewhite;
}

.main-nav > a:visited {
  color: #e4aa4d;
}

.main-nav a:hover {
  font-size: 35px;
  color: rgb(49, 219, 49);
}




/*-------HIDEOUT MAIN---------*/
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
}




#menu-div { /*make only div background transparent not items*/
  display: grid;

  justify-items: center;
  row-gap: 15px;

  padding: 20px 0;
  margin: 30px 0;
  background-color:antiquewhite;
  opacity: 0.5;
}

#menu-div > img {
  width: 30%;
  padding-bottom: 15px;
}

#menu-div > button {
  font-size: 1.5rem;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  padding: 10px;

  background-color: #820000;
  color: #e4aa4d;
}

#hack-div {
  display: grid;
  justify-items: center;
  row-gap: 15px;

  padding: 20px 0;
  margin: 30px 0;
  background-color:antiquewhite;
  opacity: 0.5;
}

#hack-div > img {
  width: 30%;
  padding-bottom: 15px;
}

#hack-div > button {
  font-size: 1.5rem;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  padding: 10px;

  background-color: #820000;
  color: #e4aa4d;
}

/*------------MENU------------------*/

#hoodoosMenu {
  display: grid;
  text-align: center;
}

#hoodoosMenu > h1 {
  margin: 15px 0 0 0;
}

#hoodoosMenu > p {
  font-size: 1em;
  margin: 0 0 15px 0;
}
menu {
  padding-right: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 10px;
  row-gap: 10px;
}

menu img {
  width: 250px;
  height: 350px;
  border: 1px solid #c9e1be;

  transition: all .5s ease-in-out;
}

menu img:hover {
  width: 260px;
  height: 360px;
  box-shadow: 3px 3px 5px 10px #087c6f;
}

menu > article {
  display: grid;
  justify-items: center;
  text-align: center;
  border: 4px solid #c9e1be;
}

article > h1 {
  color: #c9e1be;
  font-family: "Quintessential", cursive;
}

article > h4 {
  width: 85%;
  color: #c9e1be;
}

article > p {
  color: #c9e1be;
}

/*-----------HACKATHON--------------*/

h2 + p {
  color: rgb(49, 219, 49);
}

h2 + p + p {
  color: red;
}

/*-----------CONTACTS--------------*/

.contact a {
  color: aliceblue;
  text-decoration: none;
}

/*----------FOOTER-----------------------*/
footer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  align-items: end;
  align-items: center;
  justify-items: center;
 
  background-color: black;
  width: 100%;
  height: fit-content;
}

.footer {
  display: grid;
  grid-template-columns: auto;

  

  width: 50%;
  font-size: 1.5rem;
  text-align: center;
  color: red;
}

footer a {
  font-size: 1.5rem;
  color:#e4aa4d;
  text-decoration: none;

}

/*-----------MEDIA QUERIES---------------------*/
@media only screen and (min-width: 600px) {
  
  
  #logo-container {
    grid-template-columns: auto 1fr;
  }

  #logo {
    width: 820px;
    font-size: 5rem;
  }

  #logo-img {
    padding: 25px;
    justify-self: start;
  }

  .main-nav {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
/*how to add more buttons- extra html needed- when screen size goes up*/
/*add title back with logo for desktop*/
@media only screen and (min-width: 1550px){

  #logo-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  #logo-img {
    justify-self: center;
    width: 400px;
    height: 400px;
  }


  #logo {
    display: none;
  }

}