* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;

  min-height: 100vh;
  width: 100%;
  background-color: darkslategray;
}

#logo-img {
  width: 200px;
  height: 200px;
}

/*--------HEADER--------------*/

.header {
  display: grid;
  grid-template-rows: 1fr;

  background-color: black;

  width: 100%;
  min-height: 300px;
}

#logo-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  row-gap: 15px;
}

.logo-img {
  margin-top: 15px;
}

#logo {
  color: red;
  font-family: "Special Elite", cursive;
  font-size: 5rem;


}

span {
  color: red;
  font-size: 1.8rem;
  float: right;
  margin-right: 25%;
}
span:active {
  visibility: hidden;
}

span:active:before {
  visibility: visible;
  color: aliceblue;
  content: "and pizzeria";
}
/*---------NAV in header-----------------*/
#nav-container {
  background-color: red;

  align-self: end;

  height: 50px;
}

.main-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  font-size: 2rem;
  margin: 10px, 15px, 10x, 15px;
}

.main-nav > a {
  color: aliceblue;
  text-decoration: none;
  padding: 5px;
}

.main-nav > a:link {
  color: antiquewhite;
}

.main-nav > a:visited {
  color: black;
}

.main-nav a:hover {
  font-size: 35px;
  color: rgb(49, 219, 49);
}

/*-------HIDEOUT MAIN---------*/

main {
  text-align: center;
}

h1 {
  font-family: "Quantico", sans-serif;
  color: #c9e1be;
}

.bench {
  height: 600px;
  width: 100%;
}

.main-content {
  margin: 15px;
}

/*--------HIDEOUT MENU----------------*/
.menu {
  height: 500px;
  width: 100%;
  background-image: url(../images/bench.jpg);
  background-size: 500px 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.menu a {
  font-size: 2rem;
  margin: 10px, 15px, 10x, 15px;
  color: red;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: wheat;
}

p {
  font-family: "Quantico", sans-serif;
  font-size: 1.8rem;
}

#pizza {
  margin: auto;
  background-color: burlywood;
  width: 45%;
  height: 75%;
}
#snacks {
  margin: auto;
  background-color: burlywood;
  width: 45%;
  height: 75%;
}
#hot {
  margin: auto;
  background-color: burlywood;
  width: 45%;
  height: 75%;
}
#cold {
  margin: auto;
  background-color: burlywood;
  width: 45%;
  height: 75%;
}

/*------------MENU------------------*/
#hoodoosMenu {
  display: grid;
  text-align: center;
}

#hoodoosMenu > h1 {
  margin: 15px 0 0 0;
}

#hoodoosMenu > p {
  font-size: 1em;
  margin: 0 0 15px 0;
}
menu {
  padding-right: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 10px;
  row-gap: 10px;
}

menu img {
  width: 250px;
  height: 350px;
  border: 1px solid #c9e1be;
}

menu img:hover {
  width: 260px;
  height: 360px;
  box-shadow: 3px 3px 5px 10px #087c6f;
}

menu > article {
  display: grid;
  justify-items: center;
  text-align: center;
  border: 4px solid #c9e1be;
}

article > h1 {
  color: #c9e1be;
  font-family: "Quintessential", cursive;
}

article > h4 {
  width: 85%;
  color: #c9e1be;
}

article > p {
  color: #c9e1be;
}

/*-----------HACKATHON--------------*/

h2 + p {
  color: rgb(49, 219, 49);
}

h2 + p + p {
  color: red;
}

/*-----------CONTACTS--------------*/

.contact a {
  color: aliceblue;
  text-decoration: none;
}

/*----------FOOTER-----------------------*/
.footer {
  background-color: black;
  font-size: 1.5rem;
  text-align: center;
  color: red;
}

footer a {
  color: aliceblue;
  text-decoration: none;
}
