footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    align-items: end;
    align-items: center;
    justify-items: center;
   
    background-image: url(../images/nightSky.jpg);
    width: 100%;
    height: fit-content;
  }
  
  footer {
    display: grid;
    grid-template-columns: auto;
  
    
  
  
    font-size: 1.5rem;
    text-align: center;
    color: red;
  }
  
  footer a {
    font-size: 1.5rem;
    color:#e4aa4d;
    text-decoration: none;
  
  }