@use "../header";
@use "../general";
@use "../footer";

/*--------ANIMATIONS--------------*/

@keyframes iconOpacity {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

/*---------VARIABLES--------------*/
$main-font-color: #e4aa4d;

/*-----------MAIN--------------*/

#page-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;

  div {
    display: grid;
    justify-items: center;
    row-gap: 15px;

    width: 90%;
    padding: 20px 0;
    margin: 30px 0;

    background-color: antiquewhite;

    > img {
      width: 50%;
      padding-bottom: 15px;

      animation: iconOpacity 5s ease-in;
    }
    > button {
      font-size: 1.5rem;
      width: 100px;
      height: 100px;
      border-radius: 100px;
      padding: 10px;

      background-color: #820000;
      color: $main-font-color;
    }
  }
}
